WPFToolKit_v1/ControlsPack/Service References/CommonService/Common.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Common" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICommon_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1088/Common.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1088/Common.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1088/Common.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:1088/Common.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:1088/Common.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PACT.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommon_GetCommonData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonData" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetCommonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetScreenInfoByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenInfoByID" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetScreenInfoByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreenInfoByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="ICommon_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="ICommon_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="ICommon_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetDataTable_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTable_Search" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetDataTable_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTable_SearchResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTable" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetDataSet_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSet_Search" />
  </wsdl:message>
  <wsdl:message name="ICommon_GetDataSet_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSet_SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommon">
    <wsdl:operation name="GetCommonData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/GetCommonData" message="tns:ICommon_GetCommonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/GetCommonDataResponse" message="tns:ICommon_GetCommonData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreenInfoByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/GetScreenInfoByID" message="tns:ICommon_GetScreenInfoByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/GetScreenInfoByIDResponse" message="tns:ICommon_GetScreenInfoByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/ExecuteQuery" message="tns:ICommon_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/ExecuteQueryResponse" message="tns:ICommon_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/CreateAccount" message="tns:ICommon_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/CreateAccountResponse" message="tns:ICommon_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/CreateProduct" message="tns:ICommon_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/CreateProductResponse" message="tns:ICommon_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable_Search">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/GetDataTable_Search" message="tns:ICommon_GetDataTable_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/GetDataTable_SearchResponse" message="tns:ICommon_GetDataTable_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/GetDataTable" message="tns:ICommon_GetDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/GetDataTableResponse" message="tns:ICommon_GetDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet_Search">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommon/GetDataSet_Search" message="tns:ICommon_GetDataSet_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommon/GetDataSet_SearchResponse" message="tns:ICommon_GetDataSet_Search_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICommon" type="tns:ICommon">
    <wsp:PolicyReference URI="#WSHttpBinding_ICommon_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommonData">
      <soap12:operation soapAction="http://tempuri.org/ICommon/GetCommonData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreenInfoByID">
      <soap12:operation soapAction="http://tempuri.org/ICommon/GetScreenInfoByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <soap12:operation soapAction="http://tempuri.org/ICommon/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/ICommon/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap12:operation soapAction="http://tempuri.org/ICommon/CreateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable_Search">
      <soap12:operation soapAction="http://tempuri.org/ICommon/GetDataTable_Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap12:operation soapAction="http://tempuri.org/ICommon/GetDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet_Search">
      <soap12:operation soapAction="http://tempuri.org/ICommon/GetDataSet_Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Common">
    <wsdl:port name="WSHttpBinding_ICommon" binding="tns:WSHttpBinding_ICommon">
      <soap12:address location="http://localhost:1088/Common.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1088/Common.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>