PACT.COMMON/Service References/CommonService/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PACT.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PACT.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNo" type="xs:int" />
      <xs:element minOccurs="0" name="GroupBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMoveUp" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTagWise" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryValue" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNo" type="xs:int" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedValueQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhereString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCriteria" nillable="true" type="tns:SearchCriteria" />
</xs:schema>